{% extends "blue/base.html" %}

{% block title %}Add Employee{% endblock %}
{% block content %}

<h3>Add Employee</h3>
<hr />

<form method="POST" enctype="multipart/form-data">

	<!-- Security token -->
	{% csrf_token %}

	<!-- Using the formset -->
	{{ form.as_p }}
	
	<input type="submit" value="Submit">
</form>
{% endblock %}
