{% extends "blue/base.html" %} 
{% block title %}Employee{% endblock %} 
{%block content %} 
{% if users_list %}
<h3>Employee details</h3>
<hr />
<ul>
  <li>Name: {{ users_list.first_name }} {{ users_list.last_name }}</li>
  <li>Department: {{users_list.department}}</li>
  <li>Date of joining: {{users_list.date_of_joining | date:"d/N/o"}}</li>
</ul>
{% else %}
<p>No users are available.</p>
{% endif %} {% endblock %}
