{% extends "blue/base.html" %} 
{% block title %}Employee{% endblock %} 

{%block content %} 
        <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4>Employees List </h4>
            </div>
            <div class="col-sm">
              
            </div>
            <div class="col-sm">
            <a href="/users/create/">Add Employee</a>
            </div>
          </div>
        </div>

      <hr />

      <form method="GET" action=".">
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Start</label>
            <input type="date" class="form-control" id="publishDateMin" name="date_min">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">End</label>
            <input type="date" class="form-control" id="publishDateMax" name="date_max">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>


      {% if users_list %}


      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Joining</th>
          </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            
                <tr>
                    <th scope="row">{{user.id}}</th>
                    <td><a href="/users/{{ user.id }}/">{{ user.first_name }}</a></td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.date_of_joining|date }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div>

      </div>
      <div class="alert alert-warning" role="alert">No users are available or you entered incorrect search query.</div>
      {% endif %}
{% endblock %}    